<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <mat-list>
      <mat-nav-list>
        <h3 mat-subheader>MENÚ</h3>
        <mat-divider></mat-divider>
        <mat-list-item
          *ngFor="let item of menuItems"
          (click)="tabpanel.addTab(item)"
        >
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          <h4 mat-line>{{ item.name }}</h4>
          <p mat-line>{{ item.description }}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </mat-list>
    <div class="sidenavBgColor"></div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navigation
      [titleApp]="title"
      (toggleSidenav)="sidenav.toggle()"
    ></app-navigation>
    <app-tabpanel #tabpanel (closeSidenav)="sidenav.close()"></app-tabpanel>
  </mat-sidenav-content>
</mat-sidenav-container>
