.containerTable {
  position: relative;
  bottom: 5px;
}

table {
  width: 100%;
}

th {
  border-top: 1px solid;
  border-top-color: rgba(0, 0, 0, 0.1);
}

.mat-column-select {
  width: 80px;
}

.mat-column-id {
  width: 100px;
}

.mat-column-nombre {
  width: calc(50vh - 66px);
}

.mat-column-precio,
.mat-column-readMore {
  width: calc(25vh - 66px);
}
