.tabText {
  width: 100%;
}

.tabClose {
  font-size: 18px;
  width: 18px;
  height: 18px;
  opacity: 0.8;
}

button {
  width: 18px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 18px;
}
