$primary: #3f51b5;
$primaryDark: #303f9f;
$secondary: #ff4081;
$grey: #c5cae9;
$black: #212121;

mat-dialog-content {
  width: 600px;
}

h2 {
  color: $primaryDark;
}

p {
  strong {
    color: $secondary;
  }
}
